*{
    outline: hotpink solid 1px;
}

canvas{
    /* margin-top: 20px;
    margin-left: 20px; */
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
}

#draw-sticky{
    width: 500px;
    background-color: aqua;
    position: relative;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
}

#clearBtn{
    margin: 10px;
    /* position: block; */
;}

#saveBtn{
    /* position: absolute; */
    margin: 10px;
}

