{% extends "layout.html" %}
    {% block content %}
    <p class="font-serif text-lg text-center">Write a sticky!</p>
    <div class="">
        <div class="columns-3">
            <div id="draw-sticky">
                <canvas id="drawing-board"></canvas>
                <div class="buttons">
                  <button id="saveBtn">Save</button>
                  <button id="clearBtn">Clear</button>
                </div>
              </div>
            {%- for im in img_list %}
              <div><img src="{{ im }}" alt="sticky"></div>
            {% endfor%}
        </div>
    </div>
{% endblock %}