{% extends "layout.html" %}
    {% block content %}
    <p>Write a sticky!</p>
    <div class="min-h-screen flex items-center justify-center">
        <div class="grid grid-cols-3 grid-rows-3 gap-4">
            <div id="draw-sticky">
                <canvas id="drawing-board"></canvas>
                <div class="buttons">
                  <button id="saveBtn">Save</button>
                  <button id="clearBtn">Clear</button>
                </div>
              </div>
            <div><img src="{{ img }}" alt="sticky"></div>
            <div><img src="static/sticky.jpg" alt="sticky"></div>
            <div><img src="static/sticky.jpg" alt="sticky"></div>
            <div><img src="static/sticky.jpg" alt="sticky"></div>
            <div><img src="static/sticky.jpg" alt="sticky"></div>
            <div><img src="static/sticky.jpg" alt="sticky"></div>
        </div>
    </div>
{% endblock %}